.login-btn{
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    background: #181818;
}

.tolobelaRDC-logo{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 20px;
    left: 20px;
}